body {
    background-color: /*#e7e3e9*/
    #f8f4fa;
    margin-top: 100px;
    padding-top: 50px;
}

.tz-gallery {
    color: #010101;
}

.tz-gallery h2 {
    text-shadow: 0 0 6px #555;
}

.gallery-title {
    padding-bottom: 25px;
}


.main-gallery .row .img-border {
    box-shadow: 1px 1px 4px #232323;
}

.main-gallery .row {
    font-family: cursive;
}

.bio-form .row h3 {
    font-size: 24px;
}

.bio-form .row p {
    font-size: 20px;
}

.card-body {
    background-color: #444;
    color: #fff;
    box-shadow: 2px 2px 4px #222;
}

/*HONEYPOT*/

.card-body .address {
    display: none;
}


.main-footer h5 {
    font-size: 25px;
    padding: 4px;
}

.main-footer ul li {
    font-size: 20px;
    padding: 5px;
}

.main-footer,
.main-footer a {
    color: #fff;
}

.main-footer i {
    padding 5px;
}

.footer-copyright .container-fluid p a {
    padding: 5px;
}


/********************************
 MEDIA QUERIES
********************************/

@media(max-width:450px) {
    body {
        background-color: #efefef;
    }

    .main-footer {
        padding-top: 18px;
    }
}

/******************************/

@media(min-width:768px) {
    .main-gallery {
        padding-top: 50px;
    }

    .bio-form {
        padding-top: 20px;
        padding-bottom: 20px;

    }
    .bio-form .row h3 {
        font-size: 22px;
    }
    .bio-form .row p {
        font-size: 18px;
    }
    .text {
        background: #f8f4fa;
    }

    .main-footer ul {
        padding-top: 15px;
    }
    .main-footer ul li {
        padding: 3px;
    }
    .footer-title {
        float: right;
        padding-top: 25px;
        padding-right: 20px;
    }
}

@media(min-width:768px) and (orientation:portrait) {
    .bio-form .row h3 {
        font-size: 18px;
    }
    .bio-form .row p {
        font-size: 14px;
    }

    /******************************/
    @media(min-width:1024px) {
        .tz-gallery .gallery-title {
            display: none;
        }
        .main-gallery {
            padding-top: 20px;
        }
    }

    /*****************************/
    @media(min-width:1280px) {
        .main-gallery {
            padding-top: 30px;
        }
        .main-footer ul li {
            float: right;
            padding-top: 20px;
            padding-right: 10px;
            font-size: 16px;
        }
        .main-footer ul li a {
            padding: 5px;
        }
    }

    /*******************************/
    @media(min-width: 1366px) {
        .main-gallery {
            padding-top: 15px;
        }
        .bio-form {
            padding-bottom: 100px;
        }
        .about-head {
            padding-top: 140px;
            padding-bottom: 140px;
        }
    }

    /*******************************/
    @media(min-width: 1440px) {
        .bio-form {
            padding-bottom: 75px;
        }

        .main-footer ul li {
            font-size: 20px;
        }

        .main-footer ul li a {
            padding: 5px;
        }
        .footer-title .title {

            padding-top: ;
            padding-right: ;
            font-size: 24px
        }

        .about-head {
            padding-top: 80px;
            padding-bottom: 40px;
        }
    }

    /********************************************************/
    @media(min-width: 1024px) and (orientation: portrait) {
        .tz-gallery .gallery-title {
            display: none;
        }
        .about-head {
            padding-top: 250px;
        }
        .contact-gallery {
            padding-bottom: 100px;
        }
        .lg-portrait {
            padding-top: 100px;
        }
    }

    /******************************************************
     CONTACT FORM AND BUTTON
     *****************************************************/
   